# Mall Customer Segmentation

#### The purpose is to classify a group of customers in a shopping center.

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [4]:
Mall_Customer = pd.read_csv("Mall Customers.csv")
print('Mall Customer Shape', Mall_Customer.shape)
Mall_Customer.head()

Mall Customer Shape (200, 5)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## EDA

#### Mengoreksi Tipe Variabel

In [5]:
Mall_Customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [6]:
Mall_Customer['Gender'] = Mall_Customer['Gender'].astype('category')

In [7]:
Mall_Customer.dtypes

CustomerID                   int64
Gender                    category
Age                          int64
Annual Income (k$)           int64
Spending Score (1-100)       int64
dtype: object

#### Apakah Terdapat Duplikasi Data?

In [9]:
Mall_Customer.duplicated().sum()

0

#### Apakah Terdapat Missing Value?

In [10]:
Mall_Customer.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

#### Statistika Deskriptif

In [13]:
Mall_Customer.describe(include='all')

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100)
count,200.000000,200,200.000000,200.000000,200.000000
unique,NaN,2,NaN,NaN,NaN
top,NaN,Female,NaN,NaN,NaN
freq,NaN,112,NaN,NaN,NaN
mean,100.500000,NaN,38.850000,60.560000,50.200000
std,57.879185,NaN,13.969007,26.264721,25.823522
min,1.000000,NaN,18.000000,15.000000,1.000000
25%,50.750000,NaN,28.750000,41.500000,34.750000
50%,100.500000,NaN,36.000000,61.500000,50.000000
75%,150.250000,NaN,49.000000,78.000000,73.000000
max,200.000000,NaN,70.000000,137.000000,99.000000

#### Visualisasi

## Clustering Analysis

### K-Means Clustering

### Hierarchical K-Means Clustering

## Conclusion